body {
    background-color: rgb(218, 223, 228);
    height: 100%;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

button{
    font-size: 15px;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(225, 24, 87, 0.837);
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

#grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap; 
    padding-top: 30px;
}

h2, h3 {
    text-align: center;
    padding-top: 10px;
}

.btnScore {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin: 0;
}

.errorGrid {
    display: flex;
    flex-direction: column;

}



