body {
    background-color: rgb(218, 223, 228);
    height: 100%;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

#grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

h2, h3 {
    text-align: center;
    padding-top: 10px;
}




